.navbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #33333372;
  backdrop-filter: blur(6px);
  box-shadow: rgba(0, 0, 0, 0.245) 5px 5px 10px 1px;
  color: white;
  position: fixed;
  z-index: 99;
  width: 100vw;

  .logoContainer {
    display: flex;
    flex-direction: column;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
    font-weight: lighter;

    .subtitle {
      font-size: 0.75em;
    }

    span {
      font-weight: bold;
    }
  }

  .logoContainer {
    padding: 8px;
  }

  .menuContainer {
    padding: 8px;
  }
}
