.linkContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #f1f1f1;
    backdrop-filter: blur(6px);
    box-shadow: rgba(0, 0, 0, 0.245) 5px 5px 10px 1px;
    border-radius: 10px;

    a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #002868;
        letter-spacing: 1px;
        font-size: large;
    }
}

.iconContainer {
    display: inline-block;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
    padding: 8px;
}

.linkContainer:hover {
    transition: .3s ease-in-out;
    background-color: #002868;

    a, .icon {
        color: #ffffff;
    }
}