.aboutMeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../../../public/about-me-background.jpeg");
  box-shadow: rgba(0, 0, 0, 0.245) 5px 5px 10px 1px;
  color: white;
  padding: 16px 8px;
  text-indent: 32px;
  text-align: justify;
  height: 100%;

  h2 {
    text-indent: 0;
  }

  span {
    font-weight: bold;

    a {
      color: white;
      text-decoration: none;
    }
  }

  .signature {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    p {
        margin: 0;
        padding: 0;
    }
  }
}
